.tableContainer {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}

.tableContainer img {
    vertical-align: middle;
}

.tableContainer .tableContent {
    background-color: #397A76;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 5px;
    position: absolute;
   bottom: 15px;
   padding-bottom: 45px;
    
}

.tableContent p {
    margin: 9px;
}

.col-position {
    padding: 10px;
    margin-left: 15px;
}


.portfolio-content {
    background-color: #ffffff;
    max-width: 933px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid #dddddd;
    border-radius: 2px;
    


}

/*Media Information */

 


@media (max-width: 768px) {
    .navbar-collapse-properties {
        background-color: #fff;
        
        
    margin-left: 70%;
    margin-top: -10px;
    max-height: 200px;
    width: 150px;
    border-radius: 5px;
    border: 2px;
    border-color: #a09f9f;
    box-shadow: 2px 2px rgb(181, 189, 187);
    }
    .logo {
   
        height: 45px;
        background-color: #397a76;
        color: #ffffff;
        padding: 25px 20px;
        margin: 0px ;
        font-family: 'Ruthie', cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        max-width: 200px;
        width: 100%;
        
padding-top: 22px;


padding-bottom: 30px;

border-top-width: 50px;
box-shadow: 2px 2px rgb(181, 189, 187);
}
}

/*Media Information */

 


@media (max-width: 768px) {
    .navbar-collapse-properties {
        background-color: #fff;
        
        
    margin-left: 70%;
    margin-top: -10px;
    max-height: 200px;
    width: 150px;
    border-radius: 5px;
    border: 2px;
    border-color: #a09f9f;
    box-shadow: 2px 2px rgb(181, 189, 187);
    }
    .logo {
   
        height: 45px;
        background-color: #397a76;
        color: #ffffff;
        padding: 25px 20px;
        margin: 0px ;
        font-family: 'Ruthie', cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        max-width: 200px;
        width: 100%;
        
padding-top: 22px;


padding-bottom: 30px;

border-top-width: 50px;
box-shadow: 2px 2px rgb(181, 189, 187);
}
}

@media (max-width: 640px) {
    .navbar-collapse-properties {
        background-color: #fff;
        
        
    margin-left: 50%;
    margin-top: -10px;
    max-height: 200px;
    width: 150px;
    border-radius: 5px;
    border: 1px;
    border-color: #a09f9f;
    box-shadow: 2px 2px rgb(181, 189, 187);
    }

    .logo {
       
        height: 45px;
        background-color: #397a76;
        color: #ffffff;
        padding: 25px 20px;
        margin: 0px ;
        font-family: 'Ruthie', cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        
padding-top: 22px;


padding-bottom: 30px;

border-top-width: 50px;
box-shadow: 2px 2px rgb(181, 189, 187);

}
}