.tableContainer {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}

.tableContainer img {
    vertical-align: middle;
}

.tableContainer .tableContent {
    background-color: #397A76;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 5px;
    position: absolute;
   bottom: 15px;
   padding-bottom: 45px;
    
}

.tableContent p {
    margin: 9px;
}

.col-position {
    padding: 10px;
    margin-left: 15px;
}


.portfolio-content {
    background-color: #ffffff;
    max-width: 933px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid #dddddd;
    border-radius: 2px;
    


}


@media (max-width: 768px) {
    .navbar-collapse-properties {
        background-color: #fff;
        
        
    margin-left: 60%;
    margin-top: -70px;
    max-height: 200px;
    border-radius: 5px;
    border: 2px;
    border-color: #a09f9f;
    box-shadow: 2px 2px rgb(181, 189, 187);
    }
}