.tableContainer {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}

.tableContainer img {
    vertical-align: middle;
}

.tableContainer .tableContent {
    background-color: #397A76;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 5px;
    position: absolute;
   bottom: 15px;
   padding-bottom: 45px;
    
}

.tableContent p {
    margin: 9px;
}

.col-position {
    padding: 10px;
    margin-left: 20px;
}

