body {
    background-image: url(../images/honey.png);
    background-repeat: repeat;
    background-color: #c2c2c2;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 300;
}

.navbar-colors {
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    box-shadow: 1px 2px rgb(194, 194, 194);
    
    padding-top: 15px;

    

        }


.navbar-custom {
    background-color: #ffffff;
    color: rgb(54, 54, 54);

    width: 960px;
    margin: 0px auto;
    height: 70px;

        }

.logo {
           
            height: 60px;
            background-color: #397a76;
            color: #ffffff;
            padding: 25px 20px;
            margin: 0px ;
            font-family: 'Ruthie', cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 40px;
            
    padding-top: 22px;
   

    padding-bottom: 30px;
   
    border-top-width: 50px;
    box-shadow: 2px 2px rgb(181, 189, 187);
    
}

.logo:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2c948d;
}

            nav li {
                color: #666666;  
                
                display: inline-block;
                margin-left: 70px;  
               
            
            }

 nav a {
        color: #666666;
        text-decoration: none;
         font-size: 16px;
        }

.main-content {
    background-color: #ffffff;
    max-width: 933px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid #dddddd;
    border-radius: 2px;
    


}

.headerTitle {
    color: #397a76;
    padding: 30px 0px 5px 20px;
    font-size: 27px;
   
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(214, 214, 214);
    margin: 1em 0;
    padding: 0; 
}

.pic-profile {

    margin: 20px;
}

.content-style {

    padding: 20px 30px;
}



html {
  min-height: 100%;
  position: relative;
}
  body {
    margin-bottom: 75px;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 75px;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid #53A8A3;
    
  }
    .footer-block {
      margin: 20px 0;
      font-size: 12px;
    }
  


/*Media Information */

 


@media (max-width: 768px) {
    .navbar-collapse-properties {
        background-color: #fff;
        
        
    margin-left: 70%;
    margin-top: -10px;
    max-height: 200px;
    width: 150px;
    border-radius: 5px;
    border: 2px;
    border-color: #a09f9f;
    box-shadow: 2px 2px rgb(181, 189, 187);
    }
    .logo {
   
        height: 45px;
        background-color: #397a76;
        color: #ffffff;
        padding: 25px 20px;
        margin: 0px ;
        font-family: 'Ruthie', cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        max-width: 200px;
        width: 100%;
        
padding-top: 22px;


padding-bottom: 30px;

border-top-width: 50px;
box-shadow: 2px 2px rgb(181, 189, 187);
}
}

@media (max-width: 640px) {
    .navbar-collapse-properties {
        background-color: #fff;
        
        
    margin-left: 50%;
    margin-top: -10px;
    max-height: 200px;
    width: 150px;
    border-radius: 5px;
    border: 1px;
    border-color: #a09f9f;
    box-shadow: 2px 2px rgb(181, 189, 187);
    }

    .logo {
       
        height: 45px;
        background-color: #397a76;
        color: #ffffff;
        padding: 25px 20px;
        margin: 0px ;
        font-family: 'Ruthie', cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        
padding-top: 22px;


padding-bottom: 30px;

border-top-width: 50px;
box-shadow: 2px 2px rgb(181, 189, 187);

}
}